.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgotPassword {
  padding-left: 0;
  padding-right: 0;
  font-size: 0.875rem;
  color: #9ca3af;
}

.forgotPassword:hover {
  color: #f3f4f6;
}

.inputWrapper {
  position: relative;
}

.toggleButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0.5rem;
}

.toggleButton:hover {
  background-color: transparent;
}

.icon {
  height: 1rem;
  width: 1rem;
  color: #9ca3af;
}
