header {
  position: sticky;
  bottom: 0;  /* Adjust spacing from bottom */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  background: rgba(39, 39, 42, 0.8);
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline;

}

nav {
  display: flex;
  gap: 1rem;
}
