.linkToRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);

  > a {
    color: #60a5fa;
    text-decoration: none;
  }

  > a:hover {
    color: #8288ff;
    text-decoration: underline;
  }
}