:root {
  /* Input : Typography */
  --input-font-size: 0.875rem;
  --input-message-font-size: 0.75rem;
  --input-label-font-size: 1.0625rem;
  --input-line-height: 1.25rem;

  /* Spacing */
  --input-label-margin: 0.5rem;
  --input-message-margin: 0.25rem;
  --input-gap: 0.5rem;
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.5rem;

  /* Dimensions */
  --input-height: 2.5rem;
  --input-border-radius: 0.375rem;
  --input-border-width: 1px;
  --input-focus-ring-width: 1px;

  /* Colors */
  --input-text-color: rgb(212 212 216 / 1);
  --input-border-color: #d1d5db;
  --input-border-color-focus: #2563eb;
  --input-description-color: #6b7280;
  --input-error-color: #dc2626;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color-scheme: dark;
  }
}

h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
}

h3 {
  font-size: 1.875rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #e0f2fe;
  line-height: 2.25em;
}

pre {
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 0.375rem;
  overflow-x: auto;
  margin: 1rem 0;
}

code {
  font-family: monospace;
  font-size: 0.875rem;
}

.inputWrapper {
  position: relative;
}

.title {
  font-size: 1.875rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #e0f2fe;
}

.signupText {
  text-align: center;
  font-size: 0.875rem;
  color: #a1a1aa;
}
