.toggleButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: none;
  color: #a1a1aa;
  cursor: pointer;

  &:hover {
    color: #60a5fa;
  }
}
