
.columnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow: hidden;
  background-color: rgba(39, 39, 42, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.formWrapper {
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;
  background-image: radial-gradient(ellipse at top right, var(--zinc-900), var(--zinc-950));
}

.starsSection {
  position: relative;
  overflow: hidden;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
